<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BrowserStack and Local Multi-Browser Test Suite" parallel="tests" thread-count="3">
    
    <!-- BrowserStack Remote Tests - Chrome -->
    <test name="BrowserStack Chrome Tests">
        <parameter name="browser" value="Chrome"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="Windows"/>
        <parameter name="os_version" value="10"/>
        <classes>
            <class name="BrowserStackRemoteTestNg">
                <methods>
                    <!-- Positive Cases -->
                    <include name="testSuccessfulLogin"/>
                    <include name="testLiveDashboardAccess"/>
                    <include name="testBrowserLaunch"/>
                    <!-- Negative Cases -->
                    <include name="testLoginWithInvalidCredentials"/>
                    <include name="testLoginWithEmptyCredentials"/>
                    <include name="testSessionTimeout"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- BrowserStack Remote Tests - Firefox -->
    <test name="BrowserStack Firefox Tests">
        <parameter name="browser" value="Firefox"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="Windows"/>
        <parameter name="os_version" value="10"/>
        <classes>
            <class name="BrowserStackRemoteTestNg">
                <methods>
                    <!-- Positive Cases -->
                    <include name="testSuccessfulLogin"/>
                    <include name="testLiveDashboardAccess"/>
                    <include name="testBrowserLaunch"/>
                    <!-- Negative Cases -->
                    <include name="testLoginWithInvalidCredentials"/>
                    <include name="testLoginWithEmptyCredentials"/>
                    <include name="testSessionTimeout"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- BrowserStack Remote Tests - Safari -->
    <test name="BrowserStack Safari Tests">
        <parameter name="browser" value="Safari"/>
        <parameter name="browser_version" value="latest"/>
        <parameter name="os" value="OS X"/>
        <parameter name="os_version" value="Monterey"/>
        <classes>
            <class name="BrowserStackRemoteTestNg">
                <methods>
                    <!-- Positive Cases -->
                    <include name="testSuccessfulLogin"/>
                    <include name="testLiveDashboardAccess"/>
                    <include name="testBrowserLaunch"/>
                    <!-- Negative Cases -->
                    <include name="testLoginWithInvalidCredentials"/>
                    <include name="testLoginWithEmptyCredentials"/>
                    <include name="testSessionTimeout"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Local Grid Tests - Chrome -->
    <test name="Local Chrome Positive Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginAndLaunchDashboard_Positive"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Local Chrome Negative Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginWithInvalidCredentials_Negative"/>
                    <include name="testAccessDashboardWithoutLogin_Negative"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Local Grid Tests - Firefox -->
    <test name="Local Firefox Positive Test">
        <parameter name="browser" value="firefox"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginAndLaunchDashboard_Positive"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Local Firefox Negative Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginWithInvalidCredentials_Negative"/>
                    <include name="testAccessDashboardWithoutLogin_Negative"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Local Grid Tests - Safari -->
    <test name="Local Safari Positive Test">
        <parameter name="browser" value="safari"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginAndLaunchDashboard_Positive"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Local Safari Negative Tests">
        <parameter name="browser" value="safari"/>
        <parameter name="runOnGrid" value="true"/>
        <classes>
            <class name="LocalMultiBrowserTestNg">
                <methods>
                    <include name="testLoginWithInvalidCredentials_Negative"/>
                    <include name="testAccessDashboardWithoutLogin_Negative"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Listeners for reporting -->
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

</suite>